Assets/Art/** filter=lfs diff=lfs merge=lfs -text
should filter=lfs diff=lfs merge=lfs -text
be filter=lfs diff=lfs merge=lfs -text
remote filter=lfs diff=lfs merge=lfs -text
refs. filter=lfs diff=lfs merge=lfs -text
all filter=lfs diff=lfs merge=lfs -text
that filter=lfs diff=lfs merge=lfs -text
refs filter=lfs diff=lfs merge=lfs -text
examined, filter=lfs diff=lfs merge=lfs -text
including filter=lfs diff=lfs merge=lfs -text
ecify filter=lfs diff=lfs merge=lfs -text
